.advantages {
  text-align: center;
}

.advantages__header {
  max-width: 560px;
  margin: 0 auto;
  padding: 32px 25px 40px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
    padding-bottom: 43px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-basic;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    font-size: 21px;
  }
}

.advantages__intro {
  margin: 0;
}

.advantages__wrapper {
  box-sizing: border-box;

  &--background-blue {
    color: @white-basic;

    background-color: @blue-light-basic;
  }

  &--background-grey {
    background-color: @grey-background;
  }

  &--polygon {
    position: relative;

    @media (max-width: @mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        right: 0;
        left: 0;

        width: 100%;
        height: 18px;

        background-color: @white-basic;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }
    }
  }
}

.advantages__list {
  .list-style-reset;

  min-width: 282px;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    &--illustrated {
      padding: 22px 18px 30px;
    }

    &--bridge {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;

    &--town {
      grid-template-columns: 1fr 2fr;
    }

    &--three-column {
      grid-template-columns: repeat(3, 1fr);
    }

    &--bridge {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantages__item {
  padding: 0;
  box-sizing: border-box;

  background-repeat: no-repeat;

  &--paddings-arrow {
    padding: 42px 18px;

    @media (min-width: @tablet-width) {
      padding: 42px 32px;
    }

    @media (min-width: @desktop-width) {
      padding: 47px 57px 52px;
    }
  }

  &--paddings-evil {
    padding: 32px 18px 36px;

    @media (min-width: @tablet-width) {
      padding: 42px 36px;
    }

    @media (min-width: @desktop-width) {
      padding: 51px 84px;
    }
  }

  &--border-bottom {
    @media (max-width: @mobile-width-only) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 18px;
        right: 18px;

        height: 1px;

        background-color: @grey-line-advantages;
      }
    }
  }

  &--house {
    background-image: url("../img/advantages-house.svg");
  }

  &--food {
    background-image: url("../img/advantages-burger.svg");
  }

  &--souvenirs {
    background-image: url("../img/advantages-present.svg");
  }

  &--illustrated {
    @media (max-width: @mobile-width-only) {
      margin-bottom: 24px;
      padding-left: 47px;

      text-align: left;

      background-position: left top;
      background-size: 40px 40px;

      &.advantages__item--food {
        padding-left: 52px;
      }
    }

    @media (min-width: @tablet-width) {
      padding: 160px 31px 58px;

      background-position: center top 59px;
    }

    @media (min-width: @desktop-width) {
      width: 400px;
      padding: 160px 58px 80px;
    }
  }

  &--lower {
    @media (max-width: @mobile-width-only) {
      padding: 20px 35px 23px;
    }

    @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
      &:first-child {
        padding: 42px 34px;
      }

      &:nth-child(2) {
        padding: 42px 48px;
      }

      &:nth-child(3) {
        padding: 42px 41px;
      }
    }

    @media (min-width: @desktop-width) {
      padding: 42px 54px 62px;
    }
  }
}


.advantages__image {
  display: block;
  width: 100%;
  height: 256px;

  object-fit: cover;

  &--position-top {
    object-position: top;
  }
}

.advantages__heading {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-basic;

  &&--white {
    color: @white-basic;
  }

  @media (max-width: @mobile-width-only) {
    margin-bottom: 11px;
    padding-top: 7px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;

    margin-bottom: 13px;
  }
}

.advantages__heading--white br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.advantages__item--illustrated .advantages__heading {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.advantages__item--lower .advantages__number {
  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.advantages__item--lower .advantages__heading {
  @media (min-width: @tablet-width) {
    max-width: 130px;
    margin: 0 auto 13px;
  }
}

.advantages__text {
  margin: 0;
}

.advantages__text--break-tablet br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__text--break-desktop br {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
