.advantages {
  text-align: center;
}

.advantages__header {
  padding: 30px 20px;
  max-width: 520px;
  margin: 0 auto;
  box-sizing: border-box;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-basic;
}

.advantages__wrapper {
  box-sizing: border-box;

  &--background-blue {
    color: @white-basic;
    background-color: @blue-light-basic;
  }

  &--background-grey {
    background-color: @grey-background;
  }

  &--polygon {
    position: relative;

    @media (max-width: @mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        right: 0;
        left: 0;
        width: 100%;
        height: 18px;
        background-color: @white-basic;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }
    }
  }
}

.advantages__list {
  .list-style-reset;

  min-width: 282px;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    &--paddings {
      padding: 0 20px;
    }

    &--bridge {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 256px;
  object-fit: cover;

  &--position-top {
    object-position: top;
  }
}

.advantages__heading {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-basic;

  @media (max-width: @mobile-width-only) {
    padding-top: 7px;
    margin-bottom: 16px;
  }
}

.advantages__text {
  margin: 0;
}

.advantages__heading--white {
  color: @white-basic;
}

.advantages__item {
  box-sizing: border-box;
  padding: 0;

  background-repeat: no-repeat;

  &--paddings {
    padding: 40px 22px 40px 18px;
  }

  @media (max-width: @mobile-width-only) {
    &--lower {
      padding: 24px 35px;
    }

    &--border-bottom {
      position: relative;
    }

    &--border-bottom::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 18px;
      right: 18px;
      height: 1px;

      background-color: @grey-line-advantages;
    }
  }

  &--house {
    background-image: url("../img/advantages-house.svg");
  }

  &--food {
    background-image: url("../img/advantages-burger.svg");
  }

  &--souvenirs {
    background-image: url("../img/advantages-present.svg");
  }

  &--illustrated {
    @media (max-width: @mobile-width-only) {
      padding-left: 42px;
      margin-bottom: 22px;

      text-align: left;
      background-position: left top;
      background-size: 40px 40px;
    }

    @media (min-width: @tablet-width) {
      padding: 160px 31px 58px;

      background-position: center top 59px;
    }

    @media (min-width: @desktop-width) {
      width: 400px;
      padding: 160px 58px 58px;
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    margin: 0 auto;

    &--town {
      grid-template-columns: 1fr 2fr;
    }

    &--three-column {
      grid-template-columns: repeat(3, 1fr);
    }

    &--bridge {
      grid-template-columns: 2fr 1fr;
    }
  }

  .advantages__item--lower {
    padding: 42px;
  }

  .advantages__item--lower .advantages__heading {
    max-width: 130px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    width: 1200px;

    &--town {
      grid-template-columns: 400px 800px;
    }

    &--three-column {
      grid-template-columns: repeat(3, 400px);
    }

    &--bridge {
      grid-template-columns: 800px 400px;
    }
  }

  .advantages__item--lower {
    padding: 42px 54px 62px;
  }
}
