.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @white-basic;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @blue-light-basic;
  border: none;
  cursor: pointer;
}
