.card__title {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: @black-basic;
}

.card__author {
  margin: 0;

  text-transform: none;
}

.card__likes {
  display: flex;
  align-items: center;
  margin: 0;

  font-weight: 700;

  & svg {
    margin-right: 14px;
    fill: fade(@black-basic, 30%);

    @media (min-width: @tablet-width) {
      margin-right: 9px;
    }

    @media (min-width: @desktop-width) {
      fill: @white-basic;
    }
  }
}

.card__image {
  order: -1;
  display: block;
}

@media (min-width: @tablet-width) {
  .card__inner {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    padding: 22px 20px 15px;

    background-color: @grey-light-basic;

    &--background-nordic {
      background-color: @grey-background-nordic;
    }
  }

  .card__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .card__author {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .card__likes {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .card {
    position: relative;
  }

  .card__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    color: @white-basic;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .card__title {
    color: @white-basic;
  }
}
