.copyright__text {
  margin-right: 10px;

  color: inherit;
}

.copyright__image {
  flex-shrink: 0;

  fill: currentColor;
}

.copyright__link {
  display: flex;
  align-items: center;

  color: @black-basic;
  text-decoration: none;

  &:hover {
    color: @blue-light-basic;
  }

  &:focus-visible {
    outline: 3px solid @blue-focus-outline;
    outline-offset: 2px;
  }

  &:active {
    color: @grey-copyright-active;
  }
}
