.copyright__text {
  margin-right: 4px;

  color: inherit;
}

.copyright__image {
  fill: currentColor;
}

.copyright__link {
  display: flex;
  align-items: center;

  color: @black-basic;
  text-decoration: none;

  &:hover {
    color: @blue-light-basic;
  }

  &:focus,
  &:active {
    color: @grey-copyright-active;
  }
}
