.feedback-form {
  @media (min-width: @tablet-width) {
    width: 648px;
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    grid-template-columns: 494px 466px;
  }
}

.feedback-form__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 24px 0 25px;

  border: none;

  @media (max-width: @mobile-width-only) {
    &:nth-child(2) {
      padding-bottom: 18px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      padding-bottom: 8px;
    }

    &:nth-child(5) {
      padding-bottom: 50px;
    }

    &--bottom-border {
      position: relative;
    }

    &--bottom-border::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 50vw);

      width: 100vw;
      height: 1px;

      background-color: @grey-background-nordic;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: 1/3;

    &--column-left {
      grid-column: 1/2;

      border-right: 1px solid @grey-line-form;
    }

    &--column-right {
      grid-column: 2/3;
    }

    &--line {
      margin-top: 23px;
      padding-bottom: 8px;

      border-top: 1px solid @grey-line-form;
    }
  }

  @media (min-width: @desktop-width) {
    &--column-left,
    &--column-right {
      padding-bottom: 0;
    }

    &:nth-child(3) {
      margin-top: 55px;
      padding-bottom: 35px;
    }

    &:nth-child(4) {
      padding-bottom: 47px;
    }
  }
}

.feedback-form__group-title {
  margin: 0 auto;
  padding: 0;
  padding-top: 24px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @black-basic;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.feedback-form__group--line .feedback-form__group-title {
  @media (min-width: @tablet-width) {
    width: 402px;
    box-sizing: border-box;

    margin-top: -10px;
    padding-top: 0;
  }
}

.feedback-form__group-title + .feedback-form__field {
  margin-top: -3px;

  @media (min-width: @tablet-width) {
    margin-top: 3px;
  }
}

.feedback-form__group-title + .feedback-form__list {
  margin-top: -3px;

  @media (min-width: @tablet-width) {
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;

    &--columns-four {
      margin-top: 35px;
    }

    &--column-right,
    &--column-left {
      margin-top: 5px;
    }
  }
}


.feedback-form__list {
  .list-style-reset;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;

    &--column-left {
      padding-right: 45px;
    }

    &--column-right {
      padding-left: 45px;
    }

    &--columns-two {
      margin: 0 auto;
      width: 575px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      column-gap: 16px;
    }

    &--tablet-480px {
      width: 480px;
      column-gap: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    &--column-left {
      padding-right: 62px;
    }

    &--column-right {
      padding-left: 64px;
    }

    &--columns-three {
      width: 960px;
      display: flex;
      justify-content: space-between;
      padding: 0 53px;
    }

    &--columns-four {
      width: 960px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 0;
      padding: 0 9px;
    }
  }
}

.feedback-form__list--columns-four .feedback-form__item {
  @media (min-width: @desktop-width) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.feedback-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &--radio,
  &--checkbox {
    position: relative;
    flex-direction: row;
    align-items: center;
    min-height: 46px;

    padding-left: 48px;

    &:focus-within {
      outline: 3px solid @grey-background-nordic;
      outline-offset: 3px;
    }
  }
}

.feedback-form__field-label {
  margin-left: 15px;

  &--radio,
  &--checkbox {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }

  @media (min-width: @desktop-width) {
    margin-left: 17px;

    &--checkbox {
      margin-left: 15px;
    }
  }
}

.feedback-form__button-wrapper {
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 47px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin: 51px auto 0;
  }
}

.feedback-form__button {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 20px 60px 12px 49px;
  }
}

.feedback-form__legend {
  font-size: 12px;
  text-align: right;

  @media (min-width: @tablet-width) {
    align-self: center;
    font-size: 14px;
  }
}

.feedback-form__field-control {
  padding: 16px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: @grey-light-basic;
  border: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &--textarea {
    min-height: 150px;
    resize: none;

    @media (min-width: @desktop-width) {
      width: 768px;
      margin: 4px auto 0;
    }
  }

  &--phone,
  &--email {
    width: 100%;
    padding-right: 74px;

    background-repeat: no-repeat, no-repeat;
    background-position: right 20px center, right;
  }

  &--phone {
    background-image: url("../img/icons-phone.svg"), linear-gradient(to left, @grey-basic 58px, transparent 58px);
  }

  &--email {
    background-image: url("../img/icons-mail.svg"), linear-gradient(to left, @grey-basic 58px, transparent 58px);
  }

  &:hover {
    background-color: @grey-background-nordic;
  }

  &:focus,
  &:active {
    background-color: @white-basic;
    outline: 4px solid @grey-background-nordic;
    outline-offset: -4px;
  }
}

.feedback-form__field-mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 46px;
  box-sizing: border-box;

  background-color: @grey-light-basic;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 3px;
  }
}

.feedback-form__field-control--radio:checked + .feedback-form__field-mark--radio {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: @dark-basic;
    border-radius: 50%;
  }
}

.feedback-form__field-control--checkbox:checked + .feedback-form__field-mark--checkbox {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-image: url("../img/icons-tick.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.feedback-form__field-control--radio:hover + .feedback-form__field-mark--radio,
.feedback-form__field-control--checkbox:hover + .feedback-form__field-mark--checkbox {
  background-color: @grey-background-nordic;
}

.feedback-form__field-control--radio:active + .feedback-form__field-mark--radio,
.feedback-form__field-control--checkbox:active + .feedback-form__field-mark--checkbox {
  background-color: @grey-input-active;

  &::before {
    opacity: 0.3;
  }
}

.feedback-form__field-control--radio:disabled ~ .feedback-form__field-label,
.feedback-form__field-control--radio:disabled + .feedback-form__field-mark::before,
.feedback-form__field-control--checkbox:disabled ~ .feedback-form__field-label,
.feedback-form__field-control--checkbox:disabled + .feedback-form__field-mark::before,
.feedback-form__field-control:disabled {
  opacity: 0.5;
}
