.feedback-form__list {
  .list-style-reset;
}

.feedback-form__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 10px;

  border: none;
}

@media (max-width: @mobile-width-only) {
  .feedback-form__group {
    &--bottom-border {
      position: relative;
    }

    &--bottom-border::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 50vw);
      width: 100vw;
      height: 1px;
      background-color: @grey-background-nordic;
    }
  }
}

@media (min-width: @tablet-width) {
  .feedback-form {
    width: 648px;
    display: grid;
    grid-template-columns: 324px 324px;
  }

  .feedback-form__group {
    grid-column: 1/3;

    &--column-left {
      grid-column: 1/2;

      border-right: 1px solid @grey-line-form;
    }

    &--column-right {
      grid-column: 2/3;
    }

    &--line {
      border-top: 1px solid @grey-line-form;

      & .feedback-form__group-title {
        width: 402px;
        box-sizing: border-box;
      }
    }
  }

  .feedback-form__field {
    &--column-left {
      padding-right: 44px;
    }

    &--column-right {
      padding-left: 44px;
    }
  }

  .feedback-form__list {
    width: 575px;
    margin: 0 auto;
    box-sizing: border-box;

    &--columns-two {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
    }
  }

  .feedback-form__button-wrapper {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    width: 960px;
    grid-template-columns: 480px 480px;
  }

  .feedback-form__list {
    width: 960px;
    margin: 0 auto;

    &--columns-three {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-auto-flow: row;
      column-gap: 28px;
      padding: 0 53px;
    }

    &--columns-four {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      grid-auto-flow: row;
      column-gap: 64px;
      padding: 0 44px;
    }
  }

  .feedback-form__field {
    &--column-left {
      padding-right: 63px;
    }

    &--column-right {
      padding-left: 63px;
    }
  }

  .feedback-form__field-control--textarea {
    width: 768px;
    margin: 0 auto;
  }

  .feedback-form__button-wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

.feedback-form__group-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-top: 10px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @black-basic;
}

.feedback-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &--radio,
  &--checkbox {
    position: relative;
    flex-direction: row;
    align-items: center;
    min-height: 46px;

    padding-left: 64px;
  }
}

.feedback-form__field-label {
  &--radio,
  &--checkbox {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }
}

.feedback-form__button {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.feedback-form__legend {
  text-align: right;
}

.feedback-form__field-control {
  padding: 16px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: @grey-light-basic;
  border: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &--textarea {
    min-height: 150px;
    resize: none;
  }

  &--phone,
  &--email {
    width: 100%;
    padding-right: 74px;

    background-repeat: no-repeat, no-repeat;
    background-position: right 20px center, right;
  }

  &--phone {
    background-image: url("../img/icons-phone.svg"), linear-gradient(to left, @grey-basic 58px, transparent 58px);
  }

  &--email {
    background-image: url("../img/icons-mail.svg"), linear-gradient(to left, @grey-basic 58px, transparent 58px);
  }

  &:hover {
    background-color: @grey-background-nordic;
  }

  &:focus,
  &:active {
    background-color: @white-basic;
    outline: 4px solid @grey-background-nordic;
    outline-offset: -4px;
  }
}

.feedback-form__field-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  box-sizing: border-box;

  background-color: @grey-light-basic;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 3px;
  }
}

.feedback-form__field-control--radio:checked + .feedback-form__field-mark--radio {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: @dark-basic;
    border-radius: 50%;
  }
}

.feedback-form__field-control--checkbox:checked + .feedback-form__field-mark--checkbox {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-image: url("../img/icons-tick.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.feedback-form__field-control--radio:hover + .feedback-form__field-mark--radio,
.feedback-form__field-control--checkbox:hover + .feedback-form__field-mark--checkbox {
  background-color: @grey-background-nordic;
}

.feedback-form__field-control--radio:active + .feedback-form__field-mark--radio,
.feedback-form__field-control--checkbox:active + .feedback-form__field-mark--checkbox {
  background-color: @grey-input-active;

  &::before {
    opacity: 0.3;
  }
}
