.feedback-main__wrapper {
  box-sizing: border-box;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    min-width: 280px;
    max-width: 435px;
    padding: 0 20px 16px;

    &--lead {
      position: relative;
      padding-top: 36px;
      padding-bottom: 28px;
    }

    &--lead::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 50vw);

      width: 100vw;
      height: 1px;

      background-color: @grey-background-nordic;
    }
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    padding-bottom: 60px;

    &--lead {
      width: 435px;
      padding-top: 64px;
      padding-bottom: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 960px;

    &--lead {
      width: 435px;
      padding-top: 115px;
      padding-bottom: 46px;
    }
  }
}

.feedback-main__poster {
  margin: 0 auto;
}

.feedback-main__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @black-basic;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }
}

.feedback-main__lead {
  margin: 0;

  text-align: center;
}
