.main-header {
  position: relative;
  min-height: 56px;

  background-color: @white-basic;
}

.main-header__wrapper {
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  width: 185px;
  height: 96px;
  margin: 0 auto;

  &:focus-visible {
    outline: 3px solid @blue-focus-outline;
    outline-offset: 2px;
  }
}
