.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @dark-basic;

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}
