.presentation {
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 61px;
  }
}

.presentation__title {
  margin: 0 auto;
  margin-bottom: 28px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @black-basic;

  @media (min-width: @tablet-width) {
    max-width: 458px;
    margin-bottom: 30px;

    font-size: 30px;
  }
}

.presentation__lead {
  max-width: 280px;
  margin: 0 20px 34px;

  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 445px;
    margin: 0 auto 89px;
  }
}

.presentation__video {
  margin: 0 auto;
}
