.socials {
  .list-style-reset;
}

.socials__link {
  display: block;
  width: 48px;
  height: 48px;

  background-color: @blue-light-basic;
  background-repeat: no-repeat;
  background-position: center center;

  &--vkontakte {
    background-image: url("../img/socials-icon-vkontakte.svg");
  }

  &--telegram {
    background-image: url("../img/socials-icon-telegram.svg");
  }

  &--youtube {
    background-image: url("../img/socials-icon-youtube.svg");
  }
}
