.socials {
  .list-style-reset;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  margin-right: 3px;
  margin-left: 3px;
}

.socials__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;

  background-color: @blue-light-basic;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--vkontakte::before {
    background-image: url("../img/socials-icon-vkontakte.svg");
  }

  &--telegram::before {
    background-image: url("../img/socials-icon-telegram.svg");
  }

  &--youtube::before {
    background-image: url("../img/socials-icon-youtube.svg");
  }

  &:hover {
    background-color: @blue-dark-hover;
  }

  &:focus,
  &:active {
    background-color: @blue-dark-active;

    &::before {
      opacity: 0.3;
    }
  }
}
