@blue-light-basic: #81B3D2;
@blue-dark-hover: #669EC0;
@blue-dark-active: #5496BD;
@grey-background: #D6D6D6;
@grey-light-basic: #F2F2F2;
@grey-basic: #E6E6E6;
@black-basic: #000000;
@dark-basic: #333333;
@white-basic: #ffffff;
