// Colors
@blue-light-basic: #81B3D2;
@blue-dark-hover: #669EC0;
@blue-dark-active: #5496BD;
@grey-line-advantages: #D6D6D6;
@grey-background: #EEEEEE;
@grey-light-basic: #F2F2F2;
@grey-basic: #E6E6E6;
@grey-background-nordic: #E5E5E5;
@grey-line-form: #DBDBDB;
@grey-copyright-active: #B3B3B3;
@black-basic: #000000;
@dark-basic: #333333;
@white-basic: #ffffff;
@brown-current: #766357;

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
